.modalContainer {
    max-width: 400px;
    width: 90%;
    background: #ffffff;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    outline: none;
    padding: 0.5rem;
}